In [2]:
a = 10
b = 20
c = a + b
print (c)

30

In [2]:
print ('실행')

실행

In [4]:
print("실행해봐")

실행해봐

In [6]:
print(3 * 10)

30

In [3]:
#한줄에 여러개의 명령을 사용 시
a = 10 ; print(a * 10);
b = 3

100

In [13]:
# 파이썬 프로그램 기초, 자료형
# 리터널 상수 : 자연어 (한국어, 영어, 프랑스어, 중국어, ....)
#                문자, 문자열
#                 자연수 (정수, 실수, 지수)
print(10) # 정수 리터널을 출력
print(10.5) #실수 리터널을 출력
a = 10 #변수 a에 10인 정수 리터널 저장
# 정수형 변수
# 좌측은 변수 a,b,c, 등등, 우측은 리터널 상수
print(a)
print(    a    )
print(    a    )

10
10.5
10
10
10

In [24]:
z01 = a + b
z02 = a - b
z03 = a * b
z04 = a / b
z05 = a ** b
z06 = a % b
z07 = a // b

print(z01)
print(z02)
print(z03)
print(z04)
print(z05)
print(z06)
print(z07)


print("hello" + "python")
"""
#안녕#안녕
"""

13
7
30
3.3333333333333335
1000
1
3
hellopython

'\n#안녕#안녕\n'

In [19]:
#문자열 리터널 : 문자상수 : 한국어, 일본어 emd """""" ' '''''''''' 등을 찍어 깅비함
print("hello")
print('hello')
print("""hello""")
print('''hello''')
print("hello" + " " + "python")
print("""행바꿈을 하기 위해서 
따옴표3개짜리 만듬""")

hello
hello
hello
hello
hello python
행바꿈을 하기 위해서
따옴표3개짜리 만듬

In [8]:
print("abc, feg")
print('abc, feg')
print('abc, "feg"')
print("abc, \"efg\"")
print('abc\', efg')
print("abc\, efg")

abc, feg
abc, feg
abc, "feg"
abc, "efg"
abc', efg
abc\, efg

In [16]:
head = "Python"
tail = "is fun"
print("Python is fun")
print(head + tail)
print(head+ " " +tail)

print("*" * 50)
print("제목")
print("*" * 50)

print('Life\'s too short, You need python')

Python is fun
Pythonis fun
Python is fun
**************************************************
제목
**************************************************
Life's too short, You need python

In [20]:
str1 = "Life\'s too short, You need python"
print(str1)

Life's too short, You need python

In [35]:
print('Life\'s too short, You need python')
print(str1)
print(len(str1))

str3 = 'Life is too short'
print(len(str3))
print(str2[5])
print(str2[0])
print(str2[-2]); print(str2[-12]);
print(str2[-7])
print(str2[-6]); print(str2[-8])
print(str2[-1]); print(str2[16]); print(str2[len(str2) -1])

Life's too short, You need python
Life's too short, You need python
33
17
i
L
r
i
o

o
t
t
t
Life

In [37]:
print(str2[0]+str2[1]+str2[2]+str2[3])

Life

In [54]:
print(str2)
print(str2[0: 0 + 4]); print(str2[0:4])
print(str2[0: 2 + 4]); print(str2[0:4])
print(str2[0: 3 + 4]); 
print(str2[0:6]); 
print(str2[8:8 + 4]); 
n = 3

Life is too short
Life
Life
Life i
Life
Life is
Life i
too

In [59]:
str2= "Life is too short"

start = int(input("시작 index를 적으시오."))
num = int(input("문자 갯수를 입력하시오"))
print(str2[start : start + num])

시작 index를 적으시오.3
문자 갯수를 입력하시오9
e is too

In [71]:
print(str2[0: 0+4])
print(str2[0:4])
print(str2[:4])
print(str2[8:17])
print(str2[8:-1])
print(str2[8:])
print(str2[8:len(str2)])
print(str2[8:len(str2) - 2])

Life
Life
Life
too short
too shor
too short
too short
too sho

In [78]:
print(str2[-13:-2])
print(str2[-13:-3+1])
print(str2[-12:13])
print(str2[-12 : -12 +4])
print(str2[-12 : -8])

 is too sho
 is too sho
is too s
is t
is t

In [88]:
a = "20010331Rainy"
print(a[:8])
print(a[8:])
print(a[0])

a1= 3
print(a1)
a1 = 5
print(a1)
print(a[0])

20010331
Rainy
2
3
5
2

In [1]:
account = '111'
name = "이승우"
money = 100

print(name + "의 계좌번호는 " + account + "이고 잔액은 " + str(money) + "입니다")
print("%s의 계좌번호는 %s이고잔액은 %d입니다. " %(name, account, money))

print(name + "의 계좌번호는 " + account + "이고 잔액은 " + str(money) + "입니다")

이승우의 계좌번호는 111이고 잔액은 100입니다
이승우의 계좌번호는 111이고잔액은 100입니다.
이승우의 계좌번호는 111이고 잔액은 100입니다

In [5]:
print(str)

str66="sdssd"
print(str66)

<class 'str'>
sdssd

In [24]:
age = 25
height = 175.3
print(str(name) + "의 나이는 " + str(age) + "살이고 키는 " + str(height) + "입니다")
print("%s의 나이는 %s살이고 키는 %d입니다. " %(name, age, height))
str3 = "%s의 나이는 %d살이고 키는 %-10.5f입니다" %(name, age, height)
print(str3)

이승우의 나이는 25살이고 키는 175.3입니다
이승우의 나이는 25살이고 키는 175입니다.
이승우의 나이는 25살이고 키는 175.30000 입니다

In [ ]:
#format() 함수를 사용한 포매팅
#문자 : 'a' "a", """a""",'''a''' '10',"10.5"
#정수 : 10,455
#실수 : 10.5
#변수 : a, 가, a1, 가1
#함수 : a(), 가(, a1(), 가1(), str(), int(), print()

단 같은 이름의 변수와 함수를 사용하면 안됨

In [41]:
# format()  함수를 사용한 포매팅
account = '111'
name = "이승우"
money = 100
age = 25
height = 175.3

print("%s의 나이는 %d살이고 키는 %0.5f 입니다" % (name,age,height))
print("{0}님의 나이는 {1}살이고요, {2}입니다".format(name,age,height))

print("{1}님의 나이는 {0}살이고요, {2}입니다".format(age,name,height))

print("%s입니다" %name)
print("{0}입니다".format(name))
print("계좌번호 {0}입니다".format(account))

print("{1}님의 나이는 {0}살이고요, 키는 {2}입니다".format(age,name,173.5))

이승우의 나이는 25살이고 키는 175.30000 입니다
이승우님의 나이는 25살이고요, 175.3입니다
이승우님의 나이는 25살이고요, 175.3입니다
이승우입니다
이승우입니다
계좌번호 111입니다
이승우님의 나이는 25살이고요, 키는 173.5입니다

In [53]:
print("{0}님의 나이는 {1}살이고요, 키는{2} 입니다." .format(name, age, height))
print("{0}님의 나이는 {2}살이고요, 키는{1} 입니다." .format(name, height, age))
print("{0}님의 나이는 {bbb}살이고요, 키는{1} 입니다." .format(name, height,bbb=35))
# 변수 bbb가 중간에 오면 에러생김 print("{0}님의 나이는 {bbb}살이고요, 키는{1} 입니다." .format(namet,bbb=35, height))
print("{0}님의 나이는 {bbb}살이고요, 키는{hhh} 입니다." .format(name, hhh=173.5,bbb=35))
print("{0}님의 나이는 {bbb}살이고요, 키는{hhh} 입니다." .format(name, hhh=height,bbb=35))
#문장이 길어 여러줄로 나누고 싶을때 역슬래쉬\ 사용함
print("{0}님의 나이는 {bbb}살이고요, 키는{hhh} 입니다." \
      .format(name, hhh=173.5,bbb=35))

print("{0}님의 나이는 {bbb}살이고요, 키는{hhh} 입니다." \
      .format(name\
              , hhh=173.5,bbb=35))

이승우님의 나이는 25살이고요, 키는175.3 입니다.
이승우님의 나이는 25살이고요, 키는175.3 입니다.
이승우님의 나이는 35살이고요, 키는175.3 입니다.
이승우님의 나이는 35살이고요, 키는173.5 입니다.
이승우님의 나이는 35살이고요, 키는175.3 입니다.
이승우님의 나이는 35살이고요, 키는173.5 입니다.
이승우님의 나이는 35살이고요, 키는173.5 입니다.

In [57]:
#f문자열 포매팅
'이승무님의 나이는 35살이고요 키는 175.3입니다'

#포맷문자
print('%s님의 나이는 %d살이고요 키는 %.1f입니다' %(name, age, height))

#format()
print('{0}님의 나이는 {1}살이고요 키는 {2}입니다'.format(name,age,height))
print('{0}님의 나이는 {1}살이고요 키는 {h}입니다'.format(name,age,h=height))
#f 문자열
print(f'{name}님의 나이는 {1}살이고요 키는 {2}입니다')
print(f'{name}님의 나이는 {age}살이고요 키는 {height}입니다')

이승우님의 나이는 25살이고요 키는 175.3입니다
이승우님의 나이는 25살이고요 키는 175.3입니다
이승우님의 나이는 25살이고요 키는 175.3입니다
이승우님의 나이는 1살이고요 키는 2입니다
이승우님의 나이는 25살이고요 키는 175.3입니다

In [80]:
#문자열 가공 :' 문자열 내장 함수 : str()'
str1='Life is too short, You need python'
print(str1)
print(len(str1)) #크기함수
#o의 갯수세기
cnt = str1.count('o')
print(cnt)

cnt ='Life is too short, You need python'.count('o')
#     012345678901234567890123456
print(cnt)

#원하는 문자 index
idx = str1.find('t')
print(idx)

idx = str1.rfind('t') #우측에서부터 찾기
print(idx)

idx = str1.find('t',9) #9번째부터 t찾기
print(idx)



idx = str1.index('t')
print(idx)

idx = str1.rindex('t') #우측에서부터 찾기
print(idx)

idx = str1.index('t',9) #9번째부터 t찾기
print(idx)


idx = str1.find('m')  #find에서 -1의 결과는 찾는문자가 없다는 뜻
print(idx)
"""
idx = str1.index('m') #index에서 없는 문자 찾을시는 오류문자 뜸, 없는 문자는 찾지말기
print(idx)
"""
idx = str1.find('too') #첫번째 index를 가지고 옴
print(idx)

print(str1[idx : idx + 3])
print(str1[str1.find('too') : str1.find('too') + 8])

Life is too short, You need python
34
5
5
8
30
16
8
30
16
-1
8
too
too shor

In [83]:
# 모두 대문자로 가져오기
print(str1)
strUpper = str1.upper()
print(strUpper)
# 모두 소문자로 가져오기
strLower = str1.lower()
print(strLower)
print(str1)

Life is too short, You need python
LIFE IS TOO SHORT, YOU NEED PYTHON
life is too short, you need python
Life is too short, You need python

In [91]:
# 앞 뒤 문자 삭제
c = '  abcd  '
print(c)
result = c.strip();
print(result)

d = '  ab  cd  '
result = d.strip()
print(result)

f = 'ab이숭무ab'
result = f.strip('ab')
print(result)

  abcd
abcd
ab  cd
이숭무

In [105]:
b = "Life is too short"
#"Life" 를 "Your Leg"로 변경
result = b.replace('Life', 'Your leg')
print(result)
print(b)

#문자열 쪼개기
result = b.split()   #####split를 하게 되면 리스트로 받아온다 [   ,   ,   ]
print(result)

b = "Life:is:too:short"
result = b.split(":") 
print(result)

b = "Life:is:too:short"
result = b.split("i") 
print(result)

b = "Life:is:too:short"
result = b.split("o") 
print(result)


c = "Life is too short"
result = c.replace(' ', '')
print(result)

Your leg is too short
Life is too short
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']
['L', 'fe:', 's:too:short']
['Life:is:t', '', ':sh', 'rt']
Lifeistooshort

In [ ]:
###문자열 함수
split()
replace()
rstrip()
lstrip()
upper()
lower()
index()
find()
rindex()
rfind()
len()
count()

In [121]:
# 정수 리터널 : 10, 1

#실수 리터널 : 10.5, 1.555

#문자열 리터널 : "", '', """"""", ''' ''', a:변수, a():함수, '10', 110.5

# 리스트 자료형 : [], [1,2,3], ['a'',b']  ['1', 'a'] : 여러개(정수, 실수, 문자 등의 여러 유형 데이터를 저장하기 위해서

print(1)
print('1')
print(10.5)
print([1,2])
print([1,2]+[3,'a'])
print([[1,2],[3,4]]) #리스트를 가진 리스트
l = [] #빈리스트
print(l)

a = "Life:is:too:short"
k = a.split(":") 
print(k)

a = "Life:is:too:short"
l = a.split(":") 
print(l)

1
1
10.5
[1, 2]
[1, 2, 3, 'a']
[[1, 2], [3, 4]]
[]
['Life', 'is', 'too', 'short']
['Life', 'is', 'too', 'short']

In [132]:
a = "Life is too short"
#    01234567890123456

print(a[2])
print(a[3:6])
print(a[0] + a[10])
l = [1,2,3,4,5,6] #  리스트 안에 있는 것을 요소라고 한다
#    0 1 2 3 4 5  : index :  사용 방법은 문자열과 같다
print(l[0])
print(l[3])
print(l[1: 1 + 4])
print(l[3]+l[1])

l = ['Life', 'is', 'too', 'short']
print(l[0])
print(l[2])
print(l[0] + l[2])

f
e i
Lo
1
4
[2, 3, 4, 5]
6
Life
too
Lifetoo

In [139]:
a = [1,2,3,['a', 'b', 'c']]
#    0 1 2        3
#            0    1     2
#    4  3  2       1      (-) 마이너스, 우측부터 세기
#         3   2      1    -) 
    
print(a[3])
print(a[3][1])
print(a[-1][-2])

['a', 'b', 'c']
b
b

In [140]:
a = [1,2,['a', 'b', ['Life', 'is']]]
print(a[2][2][0])

Life

In [154]:
###리스트의 슬라이싱
a= 'Life is too short'
print(a[8:8+3])

l = [1,2,3,4,5,]

print(l[0])
print(l[1:3]) #슬라이싱을 하면 무조건 [  ] 리스트로 가지고 옴
print(l[0:0+5])
print(l[1:1+2])

too
1
[2, 3]
[1, 2, 3, 4, 5]
[2, 3]